<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="public/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  </head>
  <body>
    {{> nav}}
    </div>    <img src="public/roadiebrodie_compliant_logo.png" style="position: absolute; left: 4px; bottom: 2px; z-index: 6;"/>
    {{#if user_name}}
      <div id="floating-panel" class="px-4 py-4 flex space-x-2 justify-center bg-white rounded-br-lg">
        <input id="hide-markers" type="button" value="Hide Markers" class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200 shadow drop-shadow-lg"/>
        <input id="show-markers" type="button" value="Show Markers" class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200 shadow drop-shadow-lg"/>
        <input id="delete-markers" type="button" value="Delete Markers" class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200 shadow drop-shadow-lg"/>
      </div>
    {{/if}}
  </body>
  <h1>Ask Michael why this page sucks.</h1>
</html>
