<!DOCTYPE html>
<html>
  <head>
    <title>Roadie Brodie</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="public/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  </head>
  <body>
    {{> nav}}
    </div>    <img src="public/roadiebrodie_compliant_logo.png" style="position: absolute; left: 4px; bottom: 2px; z-index: 6;"/>
    <h1>Contact</h1>
    <p>Questions? Comments? Send them to <a href = "mailto: roadiebrodieapp@gmail.com">roadiebrodieapp@gmail.com</a> </p>
  </body>
</html>
