<div id="floating-panel" class="flex justify-center space-x-12">
    <div>
        <b class="text-blue-600">Start: </b>
        <input type="text" id="start" class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
    </div>
    <div>
        <b class="text-blue-600">End: </b>
        <input type="text" id="end" class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
    </div>
</div>