<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="public/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script type="module" src="public/map.js"></script>
  </head>
  <body>
    {{> nav}}
    </div><img src="public/roadiebrodie_compliant_logo.png" style="position: absolute; left: 4px; bottom: 2px; z-index: 6;"/>
    <h1 class="flex flex-row justify-center font-bold text-blue-600 text-5xl">Services</h1>
    <div class="flex flex-row justify-center space-x-4">
      <p class="p-6 rounded-xl bg-gray bg-clip-border shadow-md">Service 1</p>
      <p class="p-6 rounded-xl bg-gray bg-clip-border shadow-md">Service 2</p>
      <p class="p-6 rounded-xl bg-gray bg-clip-border shadow-md">Service 3</p>
    </div>
  </body>
</html>
